@import './reset';
@import './fonts';
@import './_variables';
@import './_mixins';

input {
  &::-ms-clear,
  &::-ms-reveal {
    display: none;
  }

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

a {
  &:focus {
    outline: none;
  }
}